
<center>
  <form method="POST">
     
      <label>Insert your salary (1000-100000): </label>
      <input type="number" name="salary" min="1000" max="100000">
      <br />
      <label>Insert your gender (0 for male, 1 for female): </label>
      <input type="number" name="gender" min="0" max="1">
     <br />
    <label>Insert your marital (0 for single, 1 for unmarried,2 for married): </label>
      <input type="number" name="marital" min="0" max="2">
     <br />
      <input type="submit">
      <br />
      <label>{{ href2 }} </label>
  </form>
</center>
